@mixin listStyleNone {
    list-style: none;
}

@mixin displayFlEnd {
    display: flex;
    justify-content: flex-end;
}

@mixin displayFlStart {
    display: flex;
    justify-content: flex-start;
}

@mixin clearfix {
    content:"";
    display: table;
    clear: both;
}